<html layout:decorator="shared/homelayout">

<body>
	<th:block layout:fragment="header">
		<link rel="stylesheet" type="text/css" th:href="@{/css/studentedit.css}" />
	</th:block>
	
	<th:block layout:fragment="content">
			
		<h2>Supplier Info</h2> <br/>

		<form class="form-horizontal" action="/suppliers" method="POST" th:object="${supplier}">
			<input type="hidden" name="supplierId"  th:value="${supplier.getSupplierId()}" />

			<div class="form-group">
				<label class="control-label col-sm-2"> supplierNumber:</label>
				<label th:if="${#fields.hasErrors('supplierNumber')}" th:errors="*{supplierNumber}"
					   class="validation-message"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="supplierNumber" name="supplierNumber"  th:field="*{supplierNumber}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2"> name:</label>
				<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					   class="validation-message"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name"  th:field="*{name}">
				</div>
			</div>



			<div class="form-group">
				<label class="control-label col-sm-2"> contactPhoneNumber:</label>
				<label th:if="${#fields.hasErrors('contactPhoneNumber')}" th:errors="*{contactPhoneNumber}"
					   class="validation-message"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="contactPhoneNumber" name="contactPhoneNumber"  th:field="*{contactPhoneNumber}">
				</div>
			</div>







		  <div class="form-group"> 
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default">Submit</button>
		    </div>
		  </div>
		</form>
		<br/>
		
		<a href="/suppliers">supplier List</a>
	</th:block>
	
	<th:block layout:fragment="footer">
	</th:block>
	
</body>
</html>