<html layout:decorator="shared/homelayout">

<body>
	<th:block layout:fragment="header">
		<link rel="stylesheet" type="text/css" th:href="@{/css/studentedit.css}" />
	</th:block>
	
	<th:block layout:fragment="content">
			
		<h2>Product Info</h2> <br/>

		<form class="form-horizontal" action="/" method="POST" th:object="${product}">
			<input type="hidden" name="productId" th:value="${productId}" />

			<div class="form-group">
				<label class="control-label col-sm-2"> productNumber:</label>
				<label th:if="${#fields.hasErrors('productNumber')}" th:errors="*{productNumber}"
					   class="validation-message"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="productNumber" name="productNumber"  th:field="*{productNumber}">
				</div>
			</div>


			<div class="form-group">
				<label class="control-label col-sm-2"> name:</label>
				<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					   class="validation-message"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name"  th:field="*{name}">
				</div>
			</div>


			<div class="form-group">
				<label class="control-label col-sm-2"> unitPrice:</label>
				<label th:if="${#fields.hasErrors('name')}" th:errors="*{unitPrice}"
					   class="validation-message"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="unitPrice" name="unitPrice"  th:field="*{unitPrice}">
				</div>

			</div>


			<div class="form-group">
				<label class="control-label col-sm-2" for="suppliers">Suppliers:</label>
				<label th:if="${#fields.hasErrors('supplier')}" th:errors="*{supplier}"
					   class="validation-message"></label>
				<div class="col-sm-10">

					<select class="form-control" th:field="${product.supplier}"  id="supplier" name="supplier">

						<option th:each="operator : ${suppliers}" th:value="${operator.supplierId}" th:text="${operator.name}"></option>
					</select>



				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2"> dateSupplied:</label>
				<label th:if="${#fields.hasErrors('dateSupplied')}" th:errors="*{dateSupplied}"
					   class="validation-message"></label>
				<div class="col-sm-10">
					<input type="date" class="form-control" id="dateSupplied" name="dateSupplied"  th:field="*{dateSupplied}">
				</div>
			</div>



		  <div class="form-group"> 
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default">Submit</button>
		    </div>
		  </div>
		</form>
		<br/>
		
		<a href="/">Product List</a>
	</th:block>
	
	<th:block layout:fragment="footer">
	</th:block>
	
</body>
</html>