<html layout:decorator="shared/homelayout"	>


<body>
	<th:block layout:fragment="header">
	<link rel="stylesheet" type="text/css" th:href="@{/css/studentlist.css}" />
	</th:block>
	
	<th:block layout:fragment="content">
		<h2>Product List</h2> <br/>
		<a href="/product/new">Create a product</a>
		<a href="/" id="linkBackHome" >Back to home</a><br/><br/>
		<table class="table table-striped">
			<thead>
				<th>Id</th>
				<th>Product Number</th>
				<th>Pid</th>
				<th>Name</th>
				<th>unit Price</th>
				<th>Actions</th>

			</thead>
			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.id}"></td>
					<td th:text="${product.productNumber}"></td>
					<td th:text="${product.pid}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.unitPrice}"></td>






					<td>
						<a th:href="@{'/product/edit/' + ${product.id}}">Edit</a>&nbsp;
						<a th:href="@{'/product/delete/' + ${product.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</th:block>
	
	<th:block layout:fragment="footer">
	</th:block>
	
</body>
</html>